body {
    background: linear-gradient(to right, blanchedalmond, aliceblue,  blanchedalmond ) ;
    color: midnightblue;
}

.main {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}
table{
    border: 3px solid midnightblue;
    padding: 3px;
}
td {
    border: 2px solid midnightblue;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.info {
    color: crimson;
    position: fixed;
    left: 10%;
}

.foot {
    position: absolute;
    font-size: 12px;
    bottom: 0.3em;
    width: 97%;
    text-align: center;
}