{% extends "layout.html" %}
{% block content %}
<div class='main'>
<table>
    {% set cell_num = [] %}
    {% for num_of_row in range(rows) %}
    <tr>
        {% for num_of_column in range(columns) %}
        <td id="{{cell_num|length}}" style="font-size: 3em;"> <i class="fas fa-align-justify"></i> </td>
        {% if cell_num.append("cell") %} {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p>
    <a href="{{ url_for('index') }}"><input type="button" value="Back"></a>
</p>
<p id="a"></p>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>

{% endblock %}